<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base",{title:"Login"}) %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/validation.css" />
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="/js/validation-users.js"></script>
  </head>

  <!-- <script src="/js/validation-register-validator.js"></script> -->

  <body class="background-main">
    <%-include("../partials/header") %>

    <main>
      <div
        class="background-main main-form-container flex-column wrap forms-lg"
      >
        <section
          class="form-container form-container center-text radius-5 width-auto"
        >
          <h3 class="font-arimo font-size-25lg">Registrate</h3>
          <% if(typeof errors != "undefined") { %>
          <ul>
            <% for (let i = 0; i < errors.length; i ++) { %>
            <li><%= errors[i].msg %></li>
            <% } %>
          </ul>
          <% } %>
          <form
            action="/register"
            method="POST"
            class="flex-column"
            enctype="multipart/form-data"
            id="registerForm"
          >
            <label
              for="firstName"
              class="font-jura font-size-14 flex-column font-size-20lg"
              >Ingresa tu Nombre
            </label>
            <input
              class="no-border radius-5 center-text font-bellefair font-size-20lg validate"
              type="text"
              name="firstName"
              id="firstName"
              placeholder="Maria"
            />
            <div id="firstNameFeedback" class="feedback"></div>
            <label
              for="lastName"
              class="font-jura font-size-14 flex-column font-size-20lg"
              >Ingresa tu Apellido
            </label>
            <input
              class="no-border radius-5 center-text font-bellefair font-size-20lg validate"
              type="text"
              name="lastName"
              id="lastName"
              placeholder="Perez"
            />
            <div id="lastNameFeedback" class="feedback"></div>
            <label
              for="user"
              class="font-jura font-size-14 flex-column font-size-20lg"
              >Crea un nombre de usuario
            </label>
            <input
              class="no-border radius-5 center-text font-bellefair font-size-20lg validate"
              type="text"
              name="user"
              id="user"
              placeholder="mariaperez"
            />
            <div id="userFeedback" class="feedback"></div>
            <label
              for="email"
              class="font-jura font-size-14 flex-column font-size-20lg"
              >Ingresa tu email</label
            >
            <input
              class="no-border radius-5 center-text font-bellefair font-size-20lg validate"
              type="email"
              name="email"
              id="email"
              placeholder="mariaperez@mail.com"
            />
            <div id="emailFeedback" class="feedback"></div>
            <p>Imagen</p>
            <input type="file" name="image" id="image" class="validate" />
            <div id="imageFeedback" class="feedback"></div>
            <label
              for="password"
              class="font-jura font-size-14 flex-column font-size-20lg"
              >Crea una clave</label
            >
            <input
              class="no-border radius-5 center-text font-bellefair font-size-20lg validate"
              type="password"
              name="password"
              id="password"
              placeholder="minimo 8 caracteres"
            />
            <div id="passwordFeedback" class="feedback"></div>

            <label
              for="password"
              class="font-jura font-size-14 flex-column font-size-20lg"
              >Confirma tu clave</label
            >
            <input
              type="password"
              name="passConf"
              id="passConf"
              class="no-border radius-5 center-text font-bellefair font-size-20lg validate"
            />
            <div id="passConfFeedback" class="feedback"></div>
            <button
              type="submit"
              class="no-border center-text font-jura font-size-14 font-size-20lg"
            >
              Registrarme
            </button>
          </form>
        </section>
      </div>
    </main>

    <%-include("../partials/footer") %>
  </body>
</html>
