<header class="header-container flex-column background-main">
  <nav class="menu-fixed d-flex width-100 background-main justify-flex-end">
    <i class="fas fa-bars color-primary hidden-md"></i>
    <div>
      <a href="/login"> <i class="fas fa-sign-in-alt color-primary"></i></a>

      <a href="/cart"> <i class="fas fa-shopping-cart color-primary"></i></a>
    </div>
  </nav>
  <div class="header-lg">
    <a href="/">
      <div class="margin-top-20">
        <img
          src="/images/products/logoCala.jpg"
          class="logo"
          alt="Logo Cala"
        /></div
    ></a>

    <div class="search-container d-flex radius-5">
      <input class="no-border" type="text" placeholder="Busca tus productos" />
      <button class="no-border width-10" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="nets-container width-50 flex-end-lg width-lg">
    <ul class="header-menus flex-wrap justify-rigth-lg">
      <li class="padding-nets-15">
        <a href="#"><i class="fab fa-twitter-square color-primary"></i></a>
      </li>
      <li class="padding-nets-15">
        <a href="#"><i class="fab fa-facebook-square color-primary"></i></a>
      </li>
      <li class="padding-nets-15">
        <a href="#"><i class="fab fa-instagram color-primary"></i></a>
      </li>
      <li class="padding-nets-15">
        <a href="#"><i class="fas fa-share-alt color-primary"></i></a>
      </li>
    </ul>
  </div>
  <div class="width-100">
    <nav class="hidden show">
      <ul class="header-menus flex-wrap color-primary font-arimo">
        <li><a class="color-primary" href="/">Inicio</a></li>
        <li><a class="color-primary" href="/products">Productos</a></li>
        <li><a class="color-primary" href="/about">Sobre Nosotras</a></li>
        <li><a class="color-primary" href="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-user d-flex margin-5">
    <% if(user) { %>
    <form action="/logout" method="POST">
      <button
        type="submit"
        class="no-border center-text font-jura font-size-20lg color-primary margin-5"
      >
        <i class="fas fa-power-off"></i>
      </button>
    </form>
    <% } %>
    <h1 class="color-primary font-arimo font-size-14 margin-5">
      Hola, <%= user ? user.first_name : "Amigo!" %>
    </h1>
  </div>
</header>
