.form-container {
  border: solid 3px #344659;
  padding: 5px;
  width: 80%;
  margin: 5px;
}


.main-form-container {
  align-items: center;
}

.checkbox-form {
  justify-content: center;
  flex-wrap: nowrap;
}

.form-container input {
  border-bottom: solid 1px #344659;
  align-self: center;
}

.form-container button {
  width: 42%;
  align-self: center;
  background-color: transparent;
  font-weight: bold;
}
.margin-login {
  margin: 20px 0px 60px 0px;
}
.width-button {
  width: 42%;
}
.background-image-two {
  background-image: url("/images/main/background-two.jpg");
  background-size: cover;
}
.background-image-seven {
  background-image: url("/images/main/background-seven.jpg");
  background-size: cover;
}
.background-image-one {
  background-image: url("/images/main/background-one.jpg");
  background-size: cover;
}
.background-image-five {
  background-image: url("/images/products/lavanda-1.jpg");
  background-size: cover;
}
.background-image-four {
  background-image: url("/images/main/background-six.jpg");
  background-size: cover;
}
.background-image-8 {
  background-image: url("/images/main/img-form1.jpg");
  background-size: cover;
}
.background-image-9 {
  background-image: url("/images/main/img-form2.jpg");
  background-size: cover;
}
.background-image-10 {
  background-image: url("/images/main/img-form4.jpg");
  background-size: cover;
}