.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.product-article {
  
  width: 90%;
  align-items: center;
  margin: 15px;
  border: solid 10px rgba(173, 154, 172, 0.5);
  border-radius: 5px;
  
}

.product-article img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}
/* .product-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  
} */

.banner-index {
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.photo-index {
  width: 90%;
  height: 60vh;
  object-fit: cover;
}

/*DETAILS*/

.product-article-details {
  background-color: rgba(173, 154, 172, 0.5);
  width: 90%;
  align-items: center;
  margin: 16px;
  align-self: center;
}
.product-article-details img {
  width: 77%;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}
.product-article-details h4 {
  align-self: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.opacity-08 {
  opacity: 0.8;
}

.banner-container {
  box-sizing: border-box;
  margin: 10px 0px;
}

.index-products h3,
.certifications h3,
.about-us h2 {
  font-size: 28px;
  /* font-weight: bold; */
  color: gray ;
  opacity: 0, 8;
}

.delivery-container {
  font-size: 12px;
  border-bottom: solid 10px whitesmoke;
  padding: 12px;
  justify-content: center;
}

/* CART */

.button-close {
  align-self: flex-start;
  border: none;
  color: gray;
  font-size: 20px;
  background-color: #e7e7e7;
}

.finalize-cart-button {
  height: 7vh;
  background-color: #826d8e;
  color: white;
  border: solid 1px black;
  font-weight: bold;
}

.cant-button-cart {
  background-color: #344659;
  width: 25%;
  height: 5vh;
  color: white;
  font-size: 20px;
}

.icon-trash {
  font-size: 20px;
}

.price-cart > p {
  position: relative;
  bottom: 12px;
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}
.justify-center {
  justify-content: center;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-7 {
  padding: 7px;
}
.menu-fixed {
  justify-content: space-between;
  padding: 7px;
  position: fixed;
}
.error404 {
  align-items: center;
  margin-top: 123px;
}
.error404 h1 {
  font-size: 42px;
  margin-top: 40px;
}
.error404 h3 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.error404 p {
  font-size: 31px;
}
.header-user {
  align-self: flex-start;
  margin-bottom: 10px;
}

.flex-end {
  display: flex;
  align-self: flex-end;
}
.padding-25 {
  padding-top: 25px;
}
.li-menu{
  margin: 10px 0px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
}
/* 
.certifications{

} */

/* #ul-nav-bar{
 
  display: block;
  width: 80%;
  height: 100%;

} */
