* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.search-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid 1px #344659;
  border-radius: 5px;
  justify-content: space-between;
  padding: 5px;
}

.search-container > input {
  width: 75%;
  background-color: transparent;
  border: none;
}
.search-container > button {
  width: 10%;
  background-color: transparent;
  border: none;
}
.nets-container {
  width: 50%;
  padding: 0px 12px;
}

.nets-container > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0px;
}
li {
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  display: none;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.icons-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.center-text {
  text-align: center;
}
.no-border {
  border: none;
}
#footer-input {
  border-radius: 5px;
  border: solid 1px #344659;
}

.index-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.certs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.radius-5 {
  border-radius: 5px;
}

.width-30 {
  width: 30%;
}
/*contenedores de detail*/
.seccion-details-conteiner {
  display: flex;
  flex-direction: column;
  border-top: solid 10px whitesmoke;
}
.seccion-details-conteiner h4 {
  align-self: center;
  margin-top: 5px;
  color: #344659;
}
.details-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 105px;
}
.details-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 18px;
  width: 100%;
  border-top: solid 10px whitesmoke;
}
.text-details-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
}
.text-details-container p {
  font-size: 13px;
  margin: 10px 0px;
}
.text-details-container > ol > li {
  font-size: 13px;
  margin: 10px 0px;
}
#cant {
  width: 19%;
  height: 5vh;
  border-radius: 3px;
}
.details-form button {
  width: 84vw;
  height: 5vh;
  border-radius: 3px;
  margin-top: 16px;
  background-color: #344659;
  color: #e7e7e7;
}
.details-form label {
  width: 30%;
  text-align: center;
  font-size: 18px;
  color: #344659;
  align-self: center;
}

/*HTML FORMULARIOS*/
.form-container {
  border: solid 5px #344659;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  text-align: center;
  margin: 5px;
}

.main-form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.checkbox-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}
/*contenedores de Cart*/

#title-cart {
  width: 100%;
  height: 100px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.button-close {
  align-self: flex-start;
  order: 1;
  border: none;
  color: gray;
  font-size: 20px;
  background-color: #e7e7e7;
}

.product-cart-images {
  width: 130px;
  height: 130px;
  margin-left: 5px;
  border: solid 10px rgba(173, 154, 172, 0.5);
}

.description-cart {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  align-items: stretch;
}
.margin-rigth-13 {
  margin-right: 13px;
}
.margin-3 {
  margin: 3px 0px;
}

.price-cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2%;
  width: 20%;
}

.articulo-cart {
  margin: 10px 0px;
  width: 100%;
}

.border-button {
  border-bottom: solid 2px lightgrey;
}

.total-cart {
  width: 100%;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.shipping-cart {
  width: 50%;
  height: 7vh;
  text-align: center;
  border: solid 1px lightgrey;
}
