.background-ligth {
  background-color: #e7e7e7;
}
.background-ligther {
  background-color: #e7ecef;
}
.icons-color {
  color: #5a6186;
}
.menu-botton {
  display: flex;
  order: -1;
  align-self: flex-end;
  margin-right: 15px;
  margin-top: 5px;
}
