.background-ligth {
  background-color: #e7e7e7;
}
.background-ligther {
  background-color: #e7ecef;
}
.icons-color {
  color: #5a6186;
}
.menu-botton {
  display: flex;
  order: -1;
  align-self: flex-end;
  margin-right: 15px;
  margin-top: 5px;
}

.font-arimo {
  font-family: Arimo;
  font-weight: lighter;
}

.font-jura-form {
  font-family: Jura;
  font-weight: lighter;
  font-size: 14px;
}

.product-article {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 154, 172, 0.5);
  border: none;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin-bottom: 10px;
}

.product-article img {
  width: 70%;
}
/*DETAILS*/

.product-article-details {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 154, 172, 0.5);
  border: none;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin: 16px;
}
.product-article-details img {
  width: 77%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-article-details h4 {
  align-self: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #344659;
}
.product-article-details h3 {
  color: #344659;
  font-size: 18px;
}
.font-bellefair {
  font-family: bellefair;
}

.index-products h3,
.certifications h3,
.about-us h2 {
  font-family: Jura;
  font-size: 30px;
  font-weight: bold;
  color: #ad9aac;
  opacity: 0, 5;
}

.product-article h4,
.about-us p,
.about-us h6 {
  font-family: Arimo;
  font-weight: normal;
  color: #344659;
}
.delivery-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  border-bottom: solid 10px whitesmoke;
  padding: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}
