.background-ligth {
  background-color: #e7e7e7;
}
.background-ligther {
  background-color: #e7ecef;
}
.icons-color {
  color: #5a6186;
}
.menu-botton {
  display: flex;
  order: -1;
  align-self: flex-end;
  margin-right: 15px;
  margin-top: 5px;
}

.font-arimo {
  font-family: Arimo;
  font-weight: lighter;
}

.font-jura-form {
  font-family: Jura;
  font-weight: lighter;
  font-size: 14px;
}

.product-article {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 154, 172, 0.5);
  border: none;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin-bottom: 10px;
}

.product-article img {
  width: 70%;
}
.product-article-details {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 154, 172, 0.5);
  border: none;
  border-radius: 5px;
  width: 90%;
  align-items: center;
  margin: 16px;
}
.product-article-details img {
  width: 77%;
  margin-top: 20px;
}
.product-article-details h4 {
  align-self: self-start;
  margin-left: 16px;
}
.font-bellefair {
  font-family: bellefair;
}

.index-products h3 {
  font-size: 30px;
  font-weight: bold;
  color: #5a6186;
}
.delivery-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-left: 9px;
}
