<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div>
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color1"></i></a>
          </li>
        </ul>
      </div>
    </header>

    <!--Creo una section para los menu-->
    <section>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Sobre Nosotras</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </section>

    <!--Creo otra section para iconos login y carrito-->
    <section>
      <ul>
        <li><a href="/login">Mi cuenta</a></li>
        <li><a href="/favs">Favoritos</a></li>
        <li><a href="/cart">Mi compra</a></li>
      </ul>
    </section>
    <main>
      <section>
        <h2>Sobre Nosotras...</h2>
        <article>
          <p>
            Cala es un microemprendimiento creado por tres amigas y dedicado a
            la biocosmética agroecológica, vegana y natural. La elección de los
            insumos para cada producto es estudiada minusiosamente desde
            distintos puntos de vista: su composición química, estudios
            académicos y sus usos populares más antiguos. Algunos de los cuales
            se remontan a miles de años. Realizamos una cuidadosa selección,
            recolección, secado y preparación de los extractos de las plantas
            que contienen los activos necesarios para mejorar la salud de la
            piel y corregir imperfecciones. Producimos de a pequeños lotes para
            asegurar que el producto llega fresco a tus manos.
          </p>
          <p>
            Somos una tienda online de cosmética natural y ecológica no testada
            en animales y respetuosa con el medio ambiente. También podrás
            encontrar productos de aromaterapia, maquillaje natural apto para
            veganos… y un amplio catálogo de productos naturales para ti y para
            toda la familia. Nuestro objetivo es tu bienestar.
          </p>
        </article>
      </section>
      <section>
        <h4>Nuestra ideologia</h4>
        <article>
          <div>
            <h6>CONSCIENTE:</h6>
            <p>
              La cosmética consciente es aquella que escucha lo que necesita la
              piel y lo que va más allá. En Cala ponemos conciencia en realizar
              productos respetuosos con tu piel y con la madre tierra.
            </p>
          </div>
          <div>
            <h6>NATURAL:</h6>
            <p>
              La naturaleza nos ofrece todo lo que necesitamos. Por ello en Cala
              aprovechamos su abundancia para elaborar productos con
              ingredientes naturales.
            </p>
          </div>
          <div>
            <h6>ARTESANAL:</h6>
            <p>
              Trabajamos con nuestras manos, es la manera de conectar nuestra
              esencia con la materia con la que trabajamos. Todo el proceso se
              realiza de forma tradicional, sin maquinaria industrial.
            </p>
          </div>
          <div>
            <h6>VEGANA:</h6>
            <p>
              Nuestra visión tiende a una concepción vegana. La base de nuestros
              productos es de origen vegetal: arcillas, plantas, aceites, ceras,
              semillas, etc.
            </p>
          </div>
          <div>
            <h6>SOSTENIBLE:</h6>
            <p>
              La línea de productos Cala tiende a una concepción de residuo
              cero, por lo que hemos eliminado la mayoría de los envases, dando
              lugar a productos cosméticos sólidos.
            </p>
          </div>
          <div>
            <h6>CON AMOR:</h6>
            <p>
              Nos gusta poner todo el cariño del mundo en lo que hacemos,
              cuidando al máximo cada parte del proceso y cada pequeño detalle.
              Nos gusta que nuestros productos transmitan este cuidado y este
              amor por lo que hacemos.
            </p>
          </div>
        </article>
      </section>
      <section>
        <h2>
          <strong><p>Nuestras certificaciones</p></strong>
        </h2>
        <ul>
          <li>
            <a href="https://www.vegansociety.com/"
              ><img src="images/vegan-society.png" alt="vegan society"
            /></a>
          </li>
          <li>
            <a href="https://crueltyfree.peta.org/"
              ><img src="images/cruelty-free.jpg" alt="cruelty free"
            /></a>
          </li>
          <li>
            <a href="https://www.leapingbunny.org/"
              ><img
                src="images/leaping-bunny.png"
                alt="libre de maltrato animal"
            /></a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <section>
        <nav class="icons2">
          <h4 class="color1">Sumate al cambio</h4>
          <a href="https://www.dondereciclo.org.ar/"
            ><i class="fas fa-recycle color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/Donar"
            ><i class="far fa-heart color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/SerVoluntario"
            ><i class="far fa-smile color1"></i
          ></a>
        </nav>
      </section>

      <section>
        <h4>Informacion</h4>
        <nav>
          <ul>
            <li><a href="/info">Formas de pago</a></li>
            <li><a href="/info">Metodos de envio</a></li>
            <li><a href="/faq">Preguntas frecuentes</a></li>
          </ul>
        </nav>
      </section>

      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <p>Suscribite a nuestro newsletter</p>
        <input type="text" />
        <button type="submit">Enviar</button>
      </div>
    </footer>
  </body>
</html>
