<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head-base",{title:"Carrito de compras"}) %>
  </head>

  <body class="background-main font-arimo border-2">
    <main class="flex-wrap">
      <form action="/" method="Post" class="width-100">
        <div class="d-flex border-bottom" id="title-cart">
          <h3 class="color-secondary font-size-23">Mi carrito de compras</h3>
          <input class="button-close" type="button" name="boton" value="X" />
        </div>
        <section class="border-bottom">
          <article class="articulo-cart">
            <div class="flex-wrap" id="justify">
              <div class="flex-wrap">
                <img
                  class="product-cart-images"
                  src="images/jabon-corpo.jpg"
                  alt="Jabon Corporal Natural"
                />
                <div class="description-cart">
                  <h3 class="margin-3 opacity-08">Jabón Corporal</h3>
                  <p class="margin-3">Emoliente</p>
                  <p class="margin-3">suavizante</p>
                  <div class="margin-3">
                    <button
                      class="cant-button-cart opacity-08 no-border"
                      type="button"
                      name="menos"
                    >
                      -
                    </button>
                    <span class="margin-10">1</span>
                    <button
                      class="cant-button-cart opacity-08 no-border"
                      type="button"
                      name="mas"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
              <div class="price-cart">
                <div>
                  <button class="icon-trash no-border" type="reset">
                    <i class="fas fa-trash-alt color-primary"></i>
                  </button>
                </div>
                <p>$350</p>
              </div>
            </div>
          </article>
        </section>
        <section class="border-bottom">
          <article class="articulo-cart">
            <div class="flex-wrap" id="justify">
              <div class="flex-wrap">
                <img
                  class="product-cart-images"
                  src="images/jabon-cafe.jpg"
                  alt="Jabon Natural Cafe y Canela"
                />
                <div class="description-cart">
                  <h3 class="margin-3 opacity-08">Jabon Natural</h3>
                  <p class="margin-3">Jabon Natural</p>
                  <p class="margin-3">Cafe y Canela</p>
                  <div class="margin-3">
                    <button
                      class="cant-button-cart opacity-08 no-border"
                      type="button"
                      name="menos"
                    >
                      -
                    </button>
                    <span class="margin-10">1</span>
                    <button
                      class="cant-button-cart opacity-08 no-border"
                      type="button"
                      name="mas"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
              <div class="price-cart">
                <div>
                  <button class="icon-trash no-border" type="reset">
                    <i class="fas fa-trash-alt color-primary"></i>
                  </button>
                </div>
                <p>$250</p>
              </div>
            </div>
          </article>
        </section>
        <section class="border-bottom flex-wrap total-cart">
          <p>Subtotal</p>
          <p>$600</p>
        </section>
        <section>
          <div class="flex-wrap total-cart">
            <p>Calculá el costo de envío</p>
            <button class="button-close" type="button">
              <i class="fas fa-angle-up"></i>
            </button>
          </div>
          <div class="flex-wrap">
            <input
              class="shipping-cart"
              type="number"
              name="codigo-postal"
              placeholder="Código Postal"
            />
            <input
              class="shipping-cart"
              type="text"
              name="calcular"
              placeholder="Calcular"
            />
          </div>
        </section>
        <section class="flex-wrap total-cart">
          <p>Total</p>
          <p>$600</p>
        </section>
        <div class="margin-10">
          <input
            class="finalize-cart-button width-100 radius-5 font-size-16"
            type="submit"
            value="FINALIZAR COMPRA"
          />
        </div>
        <div id="buying">
          <a href="/products">Seguir comprando</a>
        </div>
      </form>
    </main>
  </body>
</html>
