<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div>
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color1"></i></a>
          </li>
        </ul>
      </div>
      <!--Creo una section para los menu-->
      <section>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/about">Sobre Nosotras</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </section>
      <!--Creo otra section para iconos login y carrito-->
      <section>
        <ul>
          <li><a href="/login">Mi cuenta</a></li>
          <li><a href="/favs">Favoritos</a></li>
          <li><a href="/cart">Mi compra</a></li>
        </ul>
      </section>
    </header>
    <main>
      <form action="/" method="Post">
        <div>
          <h3>Mi carrito de compras</h3>
          <input type="button" name="boton" value="X" />
        </div>
        <section>
          <article>
            <div>
              <img
                src="images/crema-hidra.jpg"
                alt="Crema Hidratante para pieles secas"
              />
              <h3>Crema Karite</h3>
              <p>Crema hidratante para pieles secas</p>
              <div>
                <button type="button" name="mas">
                  <i class="fas fa-plus-square"></i>
                </button>
                <span>1</span>
                <button type="button" name="menos">
                  <i class="fas fa-minus-square"></i>
                </button>
              </div>
              <div>
                <button type="reset"><i class="fas fa-trash-alt"></i></button>
                <p>$500</p>
              </div>
            </div>
          </article>
        </section>
        <section>
          <article>
            <div>
              <img
                src="images/jabon-cafe.jpg"
                alt="Jabon Natural Cafe y Canela"
              />
              <h3>Jabon Natural</h3>
              <p>Jabon Natural Cafe y Canela</p>
              <div>
                <button type="button" name="mas">
                  <i class="fas fa-plus-square"></i>
                </button>
                <span>1</span>
                <button type="button" name="menos">
                  <i class="fas fa-minus-square"></i>
                </button>
              </div>
              <div>
                <button type="reset"><i class="fas fa-trash-alt"></i></button>
                <p>$250</p>
              </div>
            </div>
          </article>
        </section>
        <section>
          <h3>Subtotal</h3>
          <p>$750</p>
        </section>
        <section>
          <div>
            <span>Calculá el costo de envío</span>
            <button type="button"><i class="fas fa-angle-up"></i></button>
          </div>
          <div>
            <input
              type="number"
              name="codigo-postal"
              placeholder="Código Postal"
            />
            <input type="text" name="calcular" placeholder="Calcular" />
          </div>
        </section>
        <section>
          <h3>Total</h3>
          <p>$750</p>
        </section>
        <div>
          <input type="submit" value="Finalizar" />
        </div>
        <div>
          <a href="/products">Seguir comprando</a>
        </div>
      </form>
    </main>
    <footer class="footer-container background-ligth">
      <div class="center-text">
        <section>
          <nav>
            <h4>Sumate al cambio</h4>
            <div class="icons-footer">
              <a href="https://www.dondereciclo.org.ar/"
                ><i class="fas fa-recycle icons-color"></i
              ></a>
              <a href="https://www.quieroayudar.org/Donar"
                ><i class="far fa-heart icons-color"></i
              ></a>
              <a href="https://www.quieroayudar.org/SerVoluntario"
                ><i class="far fa-smile icons-color"></i
              ></a>
            </div>
          </nav>
        </section>

        <section>
          <nav>
            <a href="/faq" class="icons-color">Preguntas frecuentes</a>
          </nav>
        </section>
      </div>

      <div class="center-text">
        <div>
          <p>Suscribite a nuestro newsletter</p>
          <div>
            <input type="text" id="footer-input" />
            <button type="submit" class="no-border">
              <i class="fas fa-paper-plane icons-color"></i>
            </button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
