<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="css/styles-md.css"
      media="(min-width: 481px)"
    />
    <link
      rel="stylesheet"
      href="css/styles-lg.css"
      media="(min-width: 769px)"
    />
  </head>

  <body class="background-ligth font-arimo border-1">
    <header class="header-container background-ligth hidden">
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div class="search-container">
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div class="nets-container">
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square icons-color"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square icons-color"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram icons-color"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt icons-color"></i></a>
          </li>
        </ul>
      </div>
      <div class="menu-botton icons-color">
        <i class="fas fa-bars"></i>
      </div>
      <!--Creo una section para los menu-->
      <nav class="hidden">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/about">Sobre Nosotras</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </nav>

      <!--Creo otra section para iconos login y carrito-->
      <nav class="hidden">
        <ul>
          <li><a href="/login">Mi cuenta</a></li>
          <li><a href="/favs">Favoritos</a></li>
          <li><a href="/cart">Mi compra</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-container">
      <img
        src="images/banner3.jpg"
        alt="Cosmetica Natural"
        class="width-100 hidden"
      />
      <form action="/" method="Post" class="width-100">
        <div class="main-container border-bottom" id="title-cart">
          <h3>Mi carrito de compras</h3>
          <input class="button-close" type="button" name="boton" value="X" />
        </div>
        <section class="border-bottom">
          <article class="articulo-cart">
            <div class="main-container" id="justify">
              <div class="main-container">
                <img
                  class="product-cart-images"
                  src="images/crema-hidra.jpg"
                  alt="Crema Hidratante para pieles secas"
                />
                <div class="description-cart">
                  <h3 class="margin-3 opacity-08">Crema Karite</h3>
                  <p class="margin-3">Crema hidratante</p>
                  <p class="margin-3">para pieles secas</p>
                  <div class="margin-3">
                    <button
                      class="cant-button-cart opacity-08"
                      type="button"
                      name="menos"
                    >
                      -
                    </button>
                    <span class="margin-10">1</span>
                    <button
                      class="cant-button-cart opacity-08"
                      type="button"
                      name="mas"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
              <div class="price-cart">
                <div>
                  <button class="icon-trash icons-color" type="reset">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
                <p>$500</p>
              </div>
            </div>
          </article>
        </section>
        <section class="border-bottom">
          <article class="articulo-cart">
            <div class="main-container" id="justify">
              <div class="main-container">
                <img
                  class="product-cart-images"
                  src="images/jabon-cafe.jpg"
                  alt="Jabon Natural Cafe y Canela"
                />
                <div class="description-cart">
                  <h3 class="margin-3 opacity-08">Jabon Natural</h3>
                  <p class="margin-3">Jabon Natural</p>
                  <p class="margin-3">Cafe y Canela</p>
                  <div class="margin-3">
                    <button
                      class="cant-button-cart opacity-08"
                      type="button"
                      name="menos"
                    >
                      -
                    </button>
                    <span class="margin-10">1</span>
                    <button
                      class="cant-button-cart opacity-08"
                      type="button"
                      name="mas"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
              <div class="price-cart">
                <div>
                  <button class="icon-trash" type="reset">
                    <i class="fas fa-trash-alt icons-color"></i>
                  </button>
                </div>
                <p>$250</p>
              </div>
            </div>
          </article>
        </section>
        <section class="border-bottom main-container total-cart">
          <p>Subtotal</p>
          <p>$750</p>
        </section>
        <section>
          <div class="main-container total-cart">
            <p>Calculá el costo de envío</p>
            <button class="button-close" type="button">
              <i class="fas fa-angle-up"></i>
            </button>
          </div>
          <div class="main-container">
            <input
              class="shipping-cart"
              type="number"
              name="codigo-postal"
              placeholder="Código Postal"
            />
            <input
              class="shipping-cart"
              type="text"
              name="calcular"
              placeholder="Calcular"
            />
          </div>
        </section>
        <section class="main-container total-cart">
          <p>Total</p>
          <p>$750</p>
        </section>
        <div class="margin-10">
          <input
            class="finalize-cart-button"
            type="submit"
            value="FINALIZAR COMPRA"
          />
        </div>
        <div id="buying">
          <a href="/products">Seguir comprando</a>
        </div>
      </form>
    </main>
  </body>
</html>
