<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala ~ Contacto</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div>
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color1"></i></a>
          </li>
        </ul>
      </div>
    </header>

    <!--Creo una section para los menu-->
    <section>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Sobre Nosotras</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </section>

    <!--Creo otra section para iconos login y carrito-->
    <section>
      <ul>
        <li><a href="/login">Mi cuenta</a></li>
        <li><a href="/favs">Favoritos</a></li>
        <li><a href="/cart">Mi compra</a></li>
      </ul>
    </section>

    <main>
      <h3>Contactate con nosotras</h3>
      <form action="#" method="POST">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="subject">Asunto</label>
        <input type="text" name="subject" id="subject" />
        <label for="message">Dejanos tu mensaje</label>
        <textarea name="message" id="message" cols="50" rows="5"></textarea>
      </form>

      <h4>Envianos tu consulta por whatsapp</h4>

      <h4>Escribinos un mail</h4>

      <h4>Tambien podes encontrarnos en nuestras redes</h4>
      <div>
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color1"></i></a>
          </li>
        </ul>
      </div>
    </main>

    <footer>
      <section>
        <nav class="icons2">
          <h4 class="color1">Sumate al cambio</h4>
          <a href="https://www.dondereciclo.org.ar/"
            ><i class="fas fa-recycle color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/Donar"
            ><i class="far fa-heart color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/SerVoluntario"
            ><i class="far fa-smile color1"></i
          ></a>
        </nav>
      </section>

      <section>
        <h4>Informacion</h4>
        <nav>
          <ul>
            <li><a href="/info">Formas de pago</a></li>
            <li><a href="/info">Metodos de envio</a></li>
            <li><a href="/faq">Preguntas frecuentes</a></li>
          </ul>
        </nav>
      </section>

      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <p>Suscribite a nuestro newsletter</p>
        <input type="text" />
        <button type="submit">Enviar</button>
      </div>
    </footer>
  </body>
</html>
