<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle de producto</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="css/styles-md.css"
      media="(min-width: 481px)"
    />
    <link
      rel="stylesheet"
      href="css/styles-lg.css"
      media="(min-width: 769px)"
    />
  </head>

  <body>
    <header class="header-container flex-column background-main">
      <nav class="menu-fixed d-flex width-100 background-main justify-flex-end">
        <i class="fas fa-bars color-primary hidden-md"></i>
        <div>
          <a href="/login"> <i class="fas fa-sign-in-alt color-primary"></i></a>

          <a href="/cart">
            <i class="fas fa-shopping-cart color-primary"></i
          ></a>
        </div>
      </nav>
      <div class="margin-top-20">
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div class="search-container d-flex radius-5">
        <input
          class="no-border"
          type="text"
          placeholder="Busca tus productos"
        />
        <button class="no-border width-10" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div class="nets-container width-50">
        <ul class="header-menus main-container">
          <li>
            <a href="#"><i class="fab fa-twitter-square color-primary"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color-primary"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color-primary"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color-primary"></i></a>
          </li>
        </ul>
      </div>
      <div class="width-100">
        <!--Creo una section para los menu-->
        <nav class="hidden show">
          <ul class="header-menus main-container color-primary font-arimo">
            <li><a class="color-primary" href="/">Inicio</a></li>
            <li><a class="color-primary" href="/products">Productos</a></li>
            <li><a class="color-primary" href="/about">Sobre Nosotras</a></li>
            <li><a class="color-primary" href="/contact">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main-container">
      <section class="seccion-details-conteiner flex-column background-main">
        <div class="banner-container d-flex width-100">
          <img  class="width-100" src="/images/bannerXdetails.png" alt="" />
        </div>
        <div class="padding-7 hidden-md">
          <a href="/"><i class="fas fa-home color-primary"></i></a>
        </div>
        <h4 class="font-arimo color-secondary">Jabón Corporal Natural</h4>
        <article class="product-article-details flex-column no-border radius-5 ">
          <img
            src="/images/jabon-corpo.jpg"
            alt="Jabon-Corporal"
            class="width-77"
          />
          <h3 class="font-arimo font-size-18 color-secondary">JABÓN CORPORAL NATURAL</h3>
          <h4 class="font-arimo color-secondary">$350</h4>
        </article>
        <article>
          <form action="" method="POST">
            <div class="details-form d-flex width-100">
              <label class="font-size-18 color-secondary" for="cant">CANTIDAD</label>
              <input type="number" id="cant" class="radius-5" name="cant" />
              <button type="submit" class="radius-5 border-1">
                AGREGAR AL CARRITO
              </button>
            </div>
          </form>
          <div class="delivery-container d-flex font-arimo">
            <i class="fas fa-truck color-primary margin-rigth-13"></i>
            <p>
              Con tu compra mayor a 2000$,
              <strong>envío gratis!</strong>
            </p>
          </div>
        </article>
        <article class="flex-column text-details-container font-arimo">
          <p class="font-size-14">
            Jabon corporal natural para pieles que necesitan ser nutridas,
            hidratadas o para regalarte un placer. Esta crema corporal es una
            delícia. Es una obra de arte de cosmética casi comestible.
          </p>
          <ol type="none">
            <li class="font-size-14">
              INDICACIONES
              <p class="font-size-14">
                Para todo tipo de piel. Sobretodo <strong>pieles secas.</strong>
              </p>
            </li class="font-size-14">
            <li>
              PROPIEDADES
              <p class="font-size-14">Emoliente, suavizante y nutritiva.</p>
            </li>
            <li class="font-size-14">
              INGREDIENTES:
              <p class="font-size-14">
                Cera carnauba: es una cera vegetal que mantiene la hidratación
                natural de la piel, la suaviza y protege de los agentes
                externos. Se destaca por sus beneficios
                <strong
                  >anti-inflamatorios, anti-bacterianos y antioxidantes.</strong
                >
                Manteca de cacao: es conocida como un excelente emoliente que
                humecta la piel en profundidad y la mantiene suave y flexible.
                Ayuda a reparar la piel evitando su envejecimiento prematuro. No
                deja la piel grasa, le otorga elasticidad y brillo. Aceite de
                coco: es de rápida absorción, previene la sequedad de la piel y
                disminuye la aparición de arrugas. Tiene propiedades
                hidratantes, suavizantes y regeneradoras. Su aplicación es buena
                para proteger la piel de los daños ocasionados por los rayos UV.
              </p>
            </li >
            <li class="font-size-14">
              PESO Y DIMENSIONES
              <p class="font-size-14">70 gr aprox.</p>
            </li>
            <li class="font-size-14">
              MODO DE EMPLEO
              <p class="font-size-14">
                Aplicar directamente sobre la piel. Ir deslizando la pastilla
                sobre la piel para que, al contacto con el calor corporal, se
                vaya deshaciendo y vaya dejando una película de producto.
                Extender uniformemente con las manos por toda la piel.En el
                primer momento cuesta que se deslice con suavidad, a medida que
                se va templando, se aplica con mayor comodidad.Para un mayor
                deslizamiento de la pastilla sobre la piel, aplicar al salir de
                la ducha, sobre la piel húmeda. Cuando el clima es frío la barra
                se pone más sólida así que sugiero aplicar bajo la ducha.
              </p>
            </li class="font-size-14">
            <li>
              CONSERVACIÓN
              <p class="font-size-14">
                Guardar en un lugar fresco y seco. Mantener alejado de fuentes
                de calor, ya que puede deshacerse. Al contacto directo con el
                sol y el calor fuerte puede reblandecerse, incluso volverse
                líquida. Si tenés que transportarla, recomendamos guardarla en
                algún recipiente cerrado.
              </p>
            </li>
          </ol>
          <a href="/products" id="buying">Ver más productos</a>
        </article>
      </section>
    </main>

    <footer class="footer-container background-main padding-10">
      <div class="center-text">
        <section>
          <nav>
            <h4>Sumate al cambio</h4>
            <div class="icons-footer">
              <a href="https://www.dondereciclo.org.ar/"
                ><i class="fas fa-recycle color-primary"></i
              ></a>
              <a href="https://www.quieroayudar.org/Donar"
                ><i class="far fa-heart color-primary"></i
              ></a>
              <a href="https://www.quieroayudar.org/SerVoluntario"
                ><i class="far fa-smile color-primary"></i
              ></a>
            </div>
          </nav>
        </section>

        <section>
          <nav>
            <a href="/faq" class="color-primary">Preguntas frecuentes</a>
          </nav>
        </section>
      </div>

      <div class="center-text">
        <div>
          <p>Suscribite a nuestro newsletter</p>
          <div>
            <input type="text" id="footer-input" />
            <button type="submit" class="no-border">
              <i class="fas fa-paper-plane color-primary"></i>
            </button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
