<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <form action="/products" method="POST" class="serch" align="center">
        <input
          type="search"
          name="serch"
          placeholder="🔍 Busca tus productos"
        />
      </form>
      <div class="center">
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <nav class="icons">
        <i class="fab fa-twitter-square color1"></i>
        <i class="fab fa-facebook-square color1"></i>
        <i class="fab fa-instagram color1"></i>
        <i class="fas fa-share-alt color1"></i>
      </nav>
    </header>
    <main>
      <img
        src="images/shampooSolido.jpg"
        alt="shampoo solido"
        class="shampoo"
      />
    </main>
    <footer>
      <nav class="icons2">
        <h4 class="color1">Sumate al cambio</h4>
        <i class="fas fa-recycle color1"><br /></i>
        <i class="far fa-heart color1"><br /></i>
        <i class="far fa-smile color1"><br /></i>
      </nav>
    </footer>
  </body>
</html>
