<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="css/styles-md.css"
      media="(min-width: 481px)"
    />
    <link
      rel="stylesheet"
      href="css/styles-lg.css"
      media="(min-width: 769px)"
    />
  </head>

  <body class="background-main">
    <header class="header-container flex-column background-main">
      <nav class="menu-fixed d-flex width-100 background-main justify-flex-end">
        <i class="fas fa-bars color-primary hidden-md"></i>
        <div>
          <a href="/login"> <i class="fas fa-sign-in-alt color-primary"></i></a>

          <a href="/cart">
            <i class="fas fa-shopping-cart color-primary"></i
          ></a>
        </div>
      </nav>
      <div class="header-lg">
        <div class="margin-top-20">
          <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
        </div>

        <div class="search-container d-flex radius-5">
          <input
            class="no-border"
            type="text"
            placeholder="Busca tus productos"
          />
          <button class="no-border width-10" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div class="nets-container width-50 flex-end-lg">
        <ul class="header-menus main-container justify-rigth-lg">
          <li class="padding-nets-15">
            <a href="#"><i class="fab fa-twitter-square color-primary"></i></a>
          </li>
          <li class="padding-nets-15">
            <a href="#"><i class="fab fa-facebook-square color-primary"></i></a>
          </li>
          <li class="padding-nets-15">
            <a href="#"><i class="fab fa-instagram color-primary"></i></a>
          </li>
          <li class="padding-nets-15">
            <a href="#"><i class="fas fa-share-alt color-primary"></i></a>
          </li>
        </ul>
      </div>
      <div class="width-100">
        <!--Creo una section para los menu-->
        <nav class="hidden show">
          <ul class="header-menus main-container color-primary font-arimo">
            <li><a class="color-primary" href="/">Inicio</a></li>
            <li><a class="color-primary" href="/products">Productos</a></li>
            <li><a class="color-primary" href="/about">Sobre Nosotras</a></li>
            <li><a class="color-primary" href="/contact">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main-container justify-center">
      <!--Agrego la imagen central con dos parrafos que van al costado.
      Agrego texto real a los parrafos e incluyo etiquetas semanticas-->
      <section class="main-container width-100">
        <img
          src="images/banner3.jpg"
          alt="Cosmetica Natural"
          class="width-100 hide-lg"
        />
        <section>
          <div class="color-secondary font-arimo hidden d-flex-lg">
            <img
              src="images/home-lg.jpg"
              alt="Beneficios de la cosmetica natural"
            />
            <div class="color-secondary font-arimo hidden show-lg">
              <h3>Beneficios de la cosmetica natural</h3>
              <p class="font-size-19xlg">
                Todos los días hacemos uso de cosméticos, ya sean
                <em>cremas, productos de higiene, maquillaje,</em> etc. por lo
                que es de vital importancia utilizar productos adecuados para
                cuidar nuestra piel. Según un estudio, cada persona utiliza un
                promedio de 10 productos de cosmética diferentes a lo largo del
                día. La piel es el órgano más extenso que tenemos y funciona
                como una esponja absorbiendo todos los productos que le
                aplicamos en la piel y en el cabello. Por esto mismo, hay que
                tener cuidado con lo que se compra, evitando ingredientes
                químicos perjudiciales y potencialmente dañinos para nuestra
                salud, como pueden ser las siliconas, los parabenos, los
                derivados del petróleo... Aunque se trata de dosis pequeñas, los
                efectos en un uso prolongado afectan a la salud. Por poner un
                ejemplo, en algunos maquillajes de cara se encontraron
                sustancias como el arsénico y el plomo. El uso de
                <mark class="color-secondary font-arimo"
                  >ingredientes naturales</mark
                >
                para el cuidado de la piel nos aporta muchos beneficios y son
                aptos para todo tipo de piel, salvo que se padezca alguna
                intolerancia a algún ingrediente en concreto.
                <strong
                  >La cosmética natural es elaborada mediante el uso de plantas
                  y materias primas renovables. Benefician nuestra piel y
                  también el medio ambiente.</strong
                >
              </p>
            </div>
          </div>
          <div class="color-secondary font-arimo hidden show-lg">
            <h3>Cosmetica vegana</h3>
            <p class="font-size-19xlg">
              La cosmética vegana es un tipo de
              <em>producto respetuoso con los animales y la naturaleza.</em> El
              veganismo es una alternativa ética al consumo de productos
              provenientes de la explotación animal, esta filosofía es aplicada
              a todos los ámbitos de la vida diaria: alimentación, vestido,
              cuidado personal, etc. Además de ser respetuosa con el medio
              ambiente y los animales, la cosmética vegana posee otras
              características de las que podemos beneficiarnos. Al basar sus
              formulaciones en ingredientes naturales y
              <mark class="color-secondary font-arimo"
                >no usar productos químicos</mark
              >
              son adecuados para aquellas pieles más sensibles. Sus resultados
              son espectaculares, ya que los vegetales tienen un gran poder
              activo, debido a su gran potencial regenerado y depurativo. Al
              penetrar en la piel, estos principios activos proporcionan
              resultados de larga duración y difíciles de obtener con otros
              cosméticos. Además son productos asequibles, ya que los
              ingredientes se obtienen directamente de la naturaleza y casi no
              se procesan. Hoy en día, existen líneas accesibles para todos los
              bolsillos.
            </p>
          </div>
        </section>
      </section>

      <!--Creo section para poner adentro los articulos destacados-->

      <section class="index-products">
        <h3 class="font-jura">Productos destacados</h3>
        <div class="d-flex-lg width-100vw">
          <article class="product-article flex-column no-border radius-5">
            <a href="/details"
              ><h4 class="font-arimo color-secondary">Jabon Corporal</h4></a
            >
            <img
              src="/images/jabon-home-lg.jpg"
              alt="jabon corporal"
              class="width-100"
            />
            <p class="font-bellefair">Emoliente, suavizante y nutritivo.</p>
          </article>

          <article class="product-article flex-column no-border radius-5">
            <h4 class="font-arimo color-secondary">
              Shampoo Solido Cabello Neutro
            </h4>
            <img
              src="images/shampooSolido.jpg"
              class="width-100"
              alt="shampoo solido"
            />
            <p class="font-bellefair margin-top-15-lg">
              Aporta fortaleza y volumen al cabello.
            </p>
          </article>

          <article class="product-article flex-column no-border radius-5">
            <h4 class="font-arimo color-secondary">Cepillo dental de Bambu</h4>
            <img
              src="images/cepillo-bambu.jpg"
              alt="cepillo bambu"
              class="width-100"
            />
            <p class="font-bellefair">
              Cepillo dental con mango biodegradable.
            </p>
          </article>
        </div>
      </section>
      <!--Creo section para la parte de las certificaciones-->
      <section class="certifications">
        <h3 class="center-text font-jura position-relative-lg">
          Nuestras certificaciones
        </h3>
        <div>
          <ul class="certs">
            <li class="width-30 padding-35-lg">
              <a href="https://www.vegansociety.com/"
                ><img
                  src="images/vegan-society.png"
                  alt="vegan society"
                  class="width-100"
              /></a>
            </li>
            <li class="width-30 padding-35-lg">
              <a href="https://crueltyfree.peta.org/"
                ><img
                  src="images/cruelty-free.png"
                  alt="cruelty free"
                  class="width-100"
              /></a>
            </li>
            <li class="width-30 padding-35-lg">
              <a href="https://www.leapingbunny.org/"
                ><img
                  src="images/leaping-bunny.png"
                  alt="libre de maltrato animal"
                  class="width-100"
              /></a>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer class="footer-container background-main padding-10">
      <div class="center-text">
        <section>
          <nav>
            <h4>Sumate al cambio</h4>
            <div class="icons-footer">
              <a href="https://www.dondereciclo.org.ar/"
                ><i class="fas fa-recycle color-primary"></i
              ></a>
              <a href="https://www.quieroayudar.org/Donar"
                ><i class="far fa-heart color-primary"></i
              ></a>
              <a href="https://www.quieroayudar.org/SerVoluntario"
                ><i class="far fa-smile color-primary"></i
              ></a>
            </div>
          </nav>
        </section>

        <section>
          <nav>
            <a href="/faq" class="color-primary">Preguntas frecuentes</a>
          </nav>
        </section>
      </div>

      <div class="center-text">
        <div>
          <p>Suscribite a nuestro newsletter</p>
          <div>
            <input type="text" id="footer-input" />
            <button type="submit" class="no-border">
              <i class="fas fa-paper-plane color-primary"></i>
            </button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
