<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body class="background-ligth">
    <header class="header-container background-ligth">
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div class="search-container">
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div class="nets-container">
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square icons-color"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square icons-color"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram icons-color"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt icons-color"></i></a>
          </li>
        </ul>
      </div>
      <div class="menu-botton icons-color">
        <i class="fas fa-bars"></i>
      </div>
      <!--Creo una section para los menu-->
      <nav class="hidden">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/about">Sobre Nosotras</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </nav>

      <!--Creo otra section para iconos login y carrito-->
      <nav class="hidden">
        <ul>
          <li><a href="/login">Mi cuenta</a></li>
          <li><a href="/favs">Favoritos</a></li>
          <li><a href="/cart">Mi compra</a></li>
        </ul>
      </nav>
    </header>

    <!--Creo main con dos section una para el login y otra para register.
    Consultar si el placeholder en los input va en el html o el css.
    Consultar como se hace el captcha-->
    <main class="background-ligth main-form-container">
      <section class="form-container">
        <h3 class="font-arimo">Ingresa a tu cuenta</h3>
        <form action="#" method="POST" class="flex-column">
          <p class="font-jura-form flex-column">
            <label for="email">Mail</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="mariaperez@mail.com"
            />
          </p>
          <p class="font-jura-form flex-column">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" />
          </p>
          <button type="submit font-jura-form">Ingresar</button>
        </form>
        <div class="checkbox-form">
          <p><label for="remember">Recordar usuario </label></p>
          <input
            type="checkbox"
            name="remember"
            value="yes"
            class="font-jura-form"
            checked
          />
        </div>
        <div>
          <a href="#" class="font-jura-form">Recuperar contraseña</a>
        </div>
      </section>

      <section class="form-container">
        <h3 class="font-arimo">Registrate</h3>
        <form action="#" method="POST" class="flex-column">
          <p class="font-jura-form flex-column">
            <label for="name">Ingresa tu Nombre y Apellido</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Maria Perez"
            />
          </p>
          <p class="font-jura-form flex-column">
            <label for="email">Ingresa tu email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="mariaperez@mail.com"
            />
          </p>
          <p class="font-jura-form flex-column">
            <label for="password">Crea una clave</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="minimo 8 caracteres"
            />
          </p>
          <p class="font-jura-form flex-column">
            <label for="password">Confirma tu clave</label>
            <input type="password" name="password" id="password" />
          </p>
          <button type="submit" class="font-jura-form">Registrarme</button>
        </form>
      </section>
    </main>

    <footer class="footer-container background-ligth">
      <div class="center-text">
        <section>
          <nav>
            <h4>Sumate al cambio</h4>
            <div class="icons-footer">
              <a href="https://www.dondereciclo.org.ar/"
                ><i class="fas fa-recycle icons-color"></i
              ></a>
              <a href="https://www.quieroayudar.org/Donar"
                ><i class="far fa-heart icons-color"></i
              ></a>
              <a href="https://www.quieroayudar.org/SerVoluntario"
                ><i class="far fa-smile icons-color"></i
              ></a>
            </div>
          </nav>
        </section>

        <section>
          <nav>
            <a href="/faq" class="icons-color">Preguntas frecuentes</a>
          </nav>
        </section>
      </div>

      <div class="center-text">
        <div>
          <p>Suscribite a nuestro newsletter</p>
          <div>
            <input type="text" id="footer-input" />
            <button type="submit" class="no-border">
              <i class="fas fa-paper-plane icons-color"></i>
            </button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
