<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head-base",{title:"Login"}) %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body class="background-main">
    <%-include("partials/header") %>
    <!--Creo main con dos section una para el login y otra para register.
    Consultar si el placeholder en los input va en el html o el css.
    Consultar como se hace el captcha-->
    <main>
      <div
        class="background-main main-form-container flex-column wrap forms-lg"
      >
        <section class="form-container center-text radius-5 width-auto">
          <h3 class="font-arimo font-size-25lg">Ingresa a tu cuenta</h3>
          <form action="/" method="POST" class="flex-column">
            <input
              class="font-bellefair no-border radius-5 center-text font-size-20lg"
              type="text"
              name="user"
              id="user"
              placeholder="Nombre de usuario"
            />

            <input
              class="no-border radius-5 center-text font-bellefair font-size-20lg"
              type="password"
              name="password"
              id="password"
              placeholder="Contrasena"
            />

            <button
              type="submit"
              class="no-border center-text font-jura font-size-20lg"
            >
              Ingresar
            </button>
            <div
              class="checkbox-form d-flex font-jura font-size-14 color-secondary"
            >
              <p class="font-size-20lg">
                <label for="remember">Recordar usuario </label>
              </p>
              <input
                class="no-border radius-5 center-text width-10 font-size-20lg"
                type="checkbox"
                name="remember"
                value="yes"
                checked
              />
            </div>
            <div>
              <a href="#" class="font-jura font-size-14 font-size-20lg"
                >Recuperar contraseña</a
              >
            </div>
          </form>
        </section>
      </div>
    </main>

    <%-include("partials/footer") %>
  </body>
</html>
