<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div>
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color1"></i></a>
          </li>
        </ul>
      </div>
    </header>

    <!--Creo una section para los menu-->
    <section>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Sobre Nosotras</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </section>

    <!--Creo otra section para iconos login y carrito-->
    <section>
      <ul>
        <li><a href="/login">Mi cuenta</a></li>
        <li><a href="/favs">Favoritos</a></li>
        <li><a href="/cart">Mi compra</a></li>
      </ul>
    </section>

    <!--Creo main con dos section una para el login y otra para register.
    Consultar si el placeholder en los input va en el html o el css.
    Consultar como se hace el captcha-->
    <main>
      <section>
        <h3><strong>INGRESA CON TU MAIL Y CLAVE</strong></h3>
        <form action="#" method="POST">
          <p>
            <label for="email">Ingresa tu email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="mariaperez@mail.com"
            />
          </p>
          <p>
            <label for="password">Ingresa tu clave</label>
            <input type="password" name="password" id="password" />
          </p>
          <button type="submit">Ingresar</button>
        </form>
        <div>
          <a href="#">Recuperar contraseña</a>
        </div>
      </section>

      <section>
        <h3><strong>REGISTRATE</strong></h3>
        <form action="#" method="POST">
          <p>
            <label for="name">Ingresa tu Nombre y Apellido</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Maria Perez"
            />
          </p>
          <p>
            <label for="email">Ingresa tu email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="mariaperez@mail.com"
            />
          </p>
          <p>
            <label for="password">Crea una clave</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="minimo 8 caracteres"
            />
          </p>
          <p>
            <label for="password">Confirma tu clave</label>
            <input type="password" name="password" id="password" />
          </p>
          <input
            type="checkbox"
            name="remember"
            value="Recordar Usuario"
          />Recordar Usuario <br />
          <button type="submit">Registrarme</button>
        </form>
      </section>
    </main>

    <footer>
      <section>
        <nav class="icons2">
          <h4 class="color1">Sumate al cambio</h4>
          <a href="https://www.dondereciclo.org.ar/"
            ><i class="fas fa-recycle color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/Donar"
            ><i class="far fa-heart color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/SerVoluntario"
            ><i class="far fa-smile color1"></i
          ></a>
        </nav>
      </section>

      <section>
        <h4>Informacion</h4>
        <nav>
          <ul>
            <li><a href="/info">Formas de pago</a></li>
            <li><a href="/info">Metodos de envio</a></li>
            <li><a href="/faq">Preguntas frecuentes</a></li>
          </ul>
        </nav>
      </section>

      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <p>Suscribite a nuestro newsletter</p>
        <input type="text" />
        <button type="submit">Enviar</button>
      </div>
    </footer>
  </body>
</html>
