<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head-base",{title:"Error"}) %>
</head>
<body class="background-main font-arimo flex-column error404">
   <div class="color-primary">
    <h1><strong> OPS!! ESTA PÁGINA NO EXISTE!!</strong></h1>
    <h3>Deberías volverlo a intentar. </h3>
    <p>También puedes volver a nuetra página de <a href="/">Inicio</a></p>
</div>

   
</body>
</html>