<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cala Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <input type="text" placeholder="Busca tus productos" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>

      <!--cambio de nav a div (lo veo en ejerc anterior) con lista de iconos y 
        cada uno con un enlace aun no determinado-->
      <div>
        <ul>
          <li>
            <a href="#"><i class="fab fa-twitter-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram color1"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-share-alt color1"></i></a>
          </li>
        </ul>
      </div>

      <!--Creo una section para los menu-->
      <section>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/about">Sobre Nosotras</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </section>

      <!--Creo otra section para iconos login y carrito-->
      <section>
        <ul>
          <li><a href="/login">Mi cuenta</a></li>
          <li><a href="/favs">Favoritos</a></li>
          <li><a href="/cart">Mi compra</a></li>
        </ul>
      </section>
    </header>
    <!--mantengo el estilo de section para los menu-->
    <main>
      <section>
        <h3>Productos</h3>
        <ul>
          <li><a href="#">Shampoo Sólido</a></li>
          <li><a href="#">Acondicionador Sólido</a></li>
          <li><a href="#">Pasta Dental</a></li>
          <li><a href="#">Jabones</a></li>
          <li><a href="#">Otros Productos</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#">Kits y Promociones</a></li>
        </ul>
      </section>
      <div>
        <strong>Nuestros Productos</strong>
        <img src="/images/banner2.jpg" alt="" />
      </div>
      <section>
        <div>
          <h3>shampoo</h3>
          <article>
            <img src="/images/geranio.jpg" alt="Shampoo-geranio" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Shampoo Geranio</h4>
            <p class="price">$350</p>
          </article>
          <article>
            <img src="/images/sh-graso.jpg" alt="Shampoo-Graso" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Shampoo pelo Graso</h4>
            <p class="price">$350</p>
          </article>
          <article>
            <img src="/images/sh-seco.jpg" alt="Shampoo-Seco" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Shampoo pelo Seco</h4>
            <p class="price">$350</p>
          </article>
          <article>
            <img src="/images/sh-neutro.jpg" alt="Shampoo-Neutro" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Shampoo Neutro</h4>
            <p class="price">$350</p>
          </article>
        </div>
        <div>
          <h3>Acondicionadores</h3>
          <article>
            <img src="/images/lavanda.jpg" alt="Acondicionador-lavanda" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Acondicionador Lavanda</h4>
            <p class="price">$400</p>
          </article>
          <article>
            <img src="/images/acond.jpg" alt="Acondicionador-Karite" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Acondicionador Karite</h4>
            <p class="price">$400</p>
          </article>
        </div>
        <div>
          <h3>Jabones</h3>
          <article>
            <img src="/images/jabon-cafe.jpg" alt="jabon-cafe-canela" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Jabon Natural Cafe y Canela</h4>
            <p class="price">$250</p>
          </article>
          <article>
            <img src="/images/jabon-corpo.jpg" alt="Jabon-Corporal" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Jabon Corporal</h4>
            <p class="price">$350</p>
          </article>
          <article>
            <img src="/images/jabon-lavand.jpg" alt="Jabon-lavanda" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Jabon Natural Lavanda</h4>
            <p class="price">$350</p>
          </article>
        </div>
        <br />
        <div>
          <h3>Pastas Dentales</h3>
          <article>
            <img src="/images/pasta-den1.jpg" alt="pasta-dental" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Pasta Dental de Arcilla y Coco</h4>
            <p class="price">$350</p>
          </article>
          <article>
            <img src="/images/pasta-caps.jpg" alt="pasta-dental" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Pasta Dental en Cápsulas</h4>
            <p class="price">$350</p>
          </article>
        </div>
        <br />
        <div>
          <h3>Otros Productos</h3>
          <article>
            <img src="/images/crema-hidra.jpg" alt="Crema-Karite " />
            <i class="fas fa-truck"></i>
            <h4 class="description">Crema hidratante para pieles secas</h4>
            <p class="price">$500</p>
          </article>
          <article>
            <img src="/images/serum.jpg" alt="Serum" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Serum Hidratante Capilar</h4>
            <p class="price">$490</p>
          </article>
          <article>
            <img src="/images/bals-labial.jpg" alt="Balsamo" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Bálsamo Labial</h4>
            <p class="price">$250</p>
          </article>
          <article>
            <img src="/images/manteca.jpg" alt="Manteca-cacao" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Manteca de Cacao Reparadora</h4>
            <p class="price">$150</p>
          </article>
        </div>
        <br />
        <div>
          <h3>Accesorios</h3>
          <article>
            <img src="/images/cep-bambu.jpg" alt="Cepillos-bamboo" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Cepillo de Bamboo</h4>
            <p class="price">$150</p>
          </article>
          <article>
            <img src="/images/jabonera.jpg" alt="Jabonera" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Jabonera Madera Reciclada</h4>
            <p class="price">$250</p>
          </article>
        </div>

        <div>
          <h3>Kits y promociones</h3>
          <article>
            <img src="/images/kitsh-ac.jpg" alt="Kit-Base" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Kit Base</h4>
            <p class="price">$950</p>
            <p class="discount">15%</p>
          </article>
          <article>
            <img src="/images/kit-inter.jpg" alt="Kit-Intermedio" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Kit Intermedio</h4>
            <p class="price">$1400</p>
            <p class="discount">5%</p>
          </article>
          <article>
            <img src="/images/kitsh-ac-des.jpg" alt="Kit-Inicial" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Kit Inicial</h4>
            <p class="price">$1000</p>
            <p class="discount">10%</p>
          </article>
          <article>
            <img src="/images/packsh-ac2.jpg" alt="Kit-Doble" />
            <i class="fas fa-truck"></i>
            <h4 class="description">Kit Doble Shampoo</h4>
            <p class="price">$1100</p>
            <p class="discount">7%</p>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <section>
        <nav class="icons2">
          <h4 class="color1">Sumate al cambio</h4>
          <a href="https://www.dondereciclo.org.ar/"
            ><i class="fas fa-recycle color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/Donar"
            ><i class="far fa-heart color1"></i
          ></a>
          <a href="https://www.quieroayudar.org/SerVoluntario"
            ><i class="far fa-smile color1"></i
          ></a>
        </nav>
      </section>

      <section>
        <h4>Informacion</h4>
        <nav>
          <ul>
            <li><a href="/info">Formas de pago</a></li>
            <li><a href="/info">Metodos de envio</a></li>
            <li><a href="/faq">Preguntas frecuentes</a></li>
          </ul>
        </nav>
      </section>

      <div>
        <img src="images/logoCala.jpg" class="logo" alt="Logo Cala" />
      </div>

      <div>
        <p>Suscribite a nuestro newsletter</p>
        <input type="text" />
        <button type="submit">Enviar</button>
      </div>
    </footer>
  </body>
</html>
