<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head-base",{title:"Acceso denegado"}) %>
    <link rel="stylesheet" href="/css/not404.css" />
  </head>
  <h1>Disculpa, no tienes acceso a esta sección</h1>
  <div class="font-bellefair buttonEnd">
    <p>Te recomendamos...</p>
    <a href="/"><button>Volver a Home</button></a>
  </div>
</html>
