<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head-base",{title:"Cala Home"}) %>

    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <%-include("partials/header") %>
    <main class="d-flex justify-center background-main">
      <div
        class="form-container flex-column justify-center background-image-10"
      >
        <h3 class="color-primary center-text">Contactanos</h3>
        <div class="d-flex justify-center">
          <i class="fas fa-envelope color-primary margin-r-5"></i>
          <p class="color-primary center-text">calacosmetics@gmail.com</p>
        </div>
        <div class="d-flex justify-center">
          <i class="fab fa-whatsapp color-primary margin-r-5"></i>
          <p class="color-primary center-text">+54913456789</p>
        </div>
        <div class="d-flex justify-center">
          <i class="fas fa-map-marker-alt color-primary margin-r-5"></i>
          <p class="color-primary center-text">Calle Falsa 123, Springfield</p>
        </div>
      </div>
    </main>

    <%-include("partials/footer") %>
  </body>
</html>
