<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head-base",{title:"Cala Home"}) %>
    <link rel="stylesheet" href="/css/carrusel1.css" />
    <link rel="stylesheet" href="/css/carrusel2.css" />
  </head>

  <body class="background-main">
    <%-include("partials/header") %>
    <main class="flex-wrap justify-center">
      <!--Agrego la imagen central con dos parrafos que van al costado.
      Agrego texto real a los parrafos e incluyo etiquetas semanticas-->
      <!--PRUEBA CARRUSEL-->
      <div id="carrusel-container">
        <div class="item-carrusel"></div>
        <div class="item-carrusel"></div>
        <div class="item-carrusel"></div>
        <div class="item-carrusel"></div>
      </div>

      <!--FIN PRUEBA CARRUSEL-->
 

      <!--Creo section para poner adentro los articulos destacados-->

      <section class="index-products flex-column width-100">
        <h3 class="font-arimo margin-5 font-size-18 margin-top-20 ">Productos destacados</h3>

        <div class="d-flex-md d-flex-lg width-100 justify-center">
          <% for (let i = 0; i < 6; i++) { %> <% let product = products[i]; %>
          <%-include('products/product-card', {product:products[i]}) %> <% } %>
        </div>
      </section>
      <!--Creo section para la parte de las certificaciones-->
      <section class="certifications flex-column">
        <h3 class="center-text font-arimo position-relative-lg">
          Nuestras certificaciones
        </h3>
        <br />
        <div align="center">
          <img
            class="width-50"
            src="images/main/vegan-cert.png"
            alt="Certificaciones"
          />
        </div>
      </section>
    </main>
    <%-include("partials/footer") %>
  </body>
</html>
