<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head-base",{title:"Error"}) %>
    <link rel="stylesheet" href="/css/not404.css" />
</head>
<body class="background-image-not-found">
  <h1 class="font-fam">UPS, Esta página parece que no existe!!!</h1>
  <p class="zoom-area">NOT FOUND!</p>
  <section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
  </section>
  <div class="font-fam buttonEnd">
  <p>Quizás prefieras...</p>
    <a href="/"><button class="">Volver a Home</button></a>
  </div>
</body>
</html>