<footer class="footer-container background-main padding-10">
  <div class="center-text">
    <section>
      <nav>
        <h4>Sumate al cambio</h4>
        <div class="icons-footer">
          <a href="https://www.dondereciclo.org.ar/"
            ><i class="fas fa-recycle color-primary"></i
          ></a>
          <a href="https://www.quieroayudar.org/Donar"
            ><i class="far fa-heart color-primary"></i
          ></a>
          <a href="https://www.quieroayudar.org/SerVoluntario"
            ><i class="far fa-smile color-primary"></i
          ></a>
        </div>
      </nav>
    </section>

    <section>
      <nav>
        <a href="/faq" class="color-primary">Preguntas frecuentes</a>
      </nav>
    </section>
  </div>

  <div class="center-text">
    <div>
      <p>Suscribite a nuestro newsletter</p>
      <div>
        <input type="text" id="footer-input" />
        <button type="submit" class="no-border">
          <i class="fas fa-paper-plane color-primary"></i>
        </button>
      </div>
    </div>
  </div>
</footer>
