<header class="header-container flex-column background-main">
  <nav class="menu-fixed d-flex width-100 background-main justify-flex-end">
    <div class="width-100 height-4-vh">
     
        <button id="bar-button" class="no-border background-main padding-7">
          <i class="fas fa-bars color-primary hidden-md"></i>
        </button> 
      <nav   >
        <ul id="ul-nav-bar" class=" header-menus flex-wrap color-primary font-arimo hidden-md ">
          <li class="li-menu"><a class="nav-bar hidden show color-primary " id="" href="/">Inicio</a></li>
          <li class="li-menu"><a class="nav-bar hidden show color-primary" id="" href="/products">Productos</a></li>
          <%if(user){ %> <% if(user.categoryId == 2) { %>
          <li class="li-menu">
            <a class="nav-bar hidden show color-primary" id="" href="/products/create">Crear Producto</a>
          </li>
          <%}%> <%}%>
          <li class="li-menu"><a class="nav-bar hidden show color-primary" id="" href="/about">Sobre Nosotras</a></li>
          <li class="li-menu"><a class="nav-bar hidden show color-primary" id="" href="/contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="div-nav">
      <form action="/search" method="GET">
        <div id="search-div"class=" search-container radius-5 d-flex no-border background-main">
          <input id="search-input"name="searchquery" class=" no-border hidden" type="search" placeholder="Busca tus productos" />
          <button id="search-button" class="no-border width-10" type="submit">
            <i class="fas fa-search color-primary"></i>
          </button>
        </div>
      </form>
      
      <a href="/cart" class="padding-5-3">
        <i class="fas fa-shopping-cart color-primary"></i></a>
          <% if(user) { %>
          <form action="/logout" method="POST">
            <button
            type="submit"
            class="no-border center-text font-jura font-size-14 color-primary padding-5-3 background-main">
            <i class="fas fa-power-off color-primary"></i>
            </button>
          </form>
          <% } %>
    </div>
  </nav>
  <div class="header-lg">
    <a href="/">
      <div align="center">
        <img
          src="/images/main/logoCala1.png"
          class="logo image-header margin-top-42"
          alt="Logo Cala"
        />
      </div>
    </a>  
    <div class="flex-justify">
      
      <div class="justify-content-flex-end">
        <a href="/login" class="">
          Logueate | 
        <a href="/register" class="">
          Registrate
      </div>
      <div class="flex-end">
        <div class="">
          <h1 class="color-primary font-arimo font-size-14 margin-5">
            Hola <%= user ? user.firstName : "" %>!
          </h1>
        </div>
        <div class="flex-end">
          <% if(user) { %>
            <a href="/profile/<%=user.id%> " class="color-primary font-arimo font-size-14 margin-5">| Mi perfil</a>
            <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="width-100">
    <nav class="padding-7 hidden show" >
    
      <ul class="header-menus flex-wrap color-primary font-arimo">
        <li><a class="nav-bar hidden show color-primary" id="" href="/">Inicio</a></li>
        <li><a class="nav-bar hidden show color-primary" id="" href="/products">Productos</a></li>
        <%if(user){ %> <% if(user.categoryId == 2) { %>
        <li>
          <a class="nav-bar hidden show color-primary" id="" href="/products/create">Crear Producto</a>
        </li>
        <%}%> <%}%>
        <li><a class="nav-bar hidden show color-primary" id="" href="/about">Sobre Nosotras</a></li>
        <li><a class="nav-bar hidden show color-primary" id="" href="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
