<header class="header-container flex-column background-main">
  <nav class="menu-fixed d-flex width-100 background-main justify-flex-end">
    <div class="div-nav">
      <div class="flex-end hi-md position-none-lg">
        <div class="">
          <h1 class="color-primary font-arimo font-size-14 margin-5 font-20-lg">
            <%= user ? user.firstName : "" %>
          </h1>
        </div>
        <% if(!user) { %>
          <div class="justify-content-flex-end log-md position-none-lg login-hi-lg">
          <a href="/login" class="font-20-lg">
            Ingresar</a>
          </div>
          <% } %> 
        <div class="flex-end">
          <% if(user) { %>
            <a href="/profile/<%=user.id%> " class="color-primary font-arimo font-size-14 margin-5"><i
                class="fas fa-user-alt color-primary padding-3"></i></a>
            <% } %>
            <% if(user) { %>
            <form action="/logout" method="POST">
              <button type="submit"
                class="no-border center-text font-jura font-size-14 color-primary padding-5-3 background-main">
                  <i class="fas fa-power-off color-primary"></i>
              </button>
            </form>
            <% } %>
        </div>
      </div>
        <a href="/cart" class="padding-5-3">
        <i class="fas fa-shopping-cart color-primary"></i></a>
      </div>
  </nav>
  <div class="header-lg">
    <a href="/">
      <div align="center">
        <img
          src="/images/main/logoCala1.png"
          class="logo image-header width-40-md width-50lg margin-top-42"
          alt="Logo Cala"
        />
      </div>
    </a>  
    <div class="flex-justify login-search-lg">
      <form action="/search" method="GET">
        <div id="search-div"class=" search-container  radius-5 d-flex no-border background-main ">
          <input id="search-input"name="searchquery" class="font-20-lg no-border hidden" type="search" placeholder="Busca tus productos" />
          <button id="search-button" class="no-border width-10 font-20-lg" type="submit">
            <i class="fas fa-search color-primary"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="width-100 height-4-vh">
    <button id="bar-button" class="no-border font-weight-bold background-main padding-7 color-primary hidden-md">
      <i class="fas fa-bars color-primary hidden-md"></i> Menu
    </button>
    <nav id="id-nav" class="hidden">
      <ul id="ul-nav-bar" class=" header-menus flex-wrap color-primary font-arimo ">
        <li class="li-menu"><a class="nav-bar hidden color-primary " id="" href="/">Inicio</a></li>
        <li class="li-menu"><a class="nav-bar hidden color-primary" id="" href="/products">Productos</a></li>
          <%if(user){ %>
          <% if(user.categoryId==2) { %>
            <li class="li-menu">
              <a class="nav-bar hidden color-primary" id="" href="/products/create">Crear Producto</a>
            </li>
          <%}%>
           <%}%>
          <li class="li-menu"><a class="nav-bar hidden color-primary" id="" href="/about">Sobre Nosotras</a></li>
          <li class="li-menu"><a class="nav-bar hidden color-primary" id="" href="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
