<header class="header-container flex-column background-main">
  <nav
    class="menu-fixed d-flex width-100 background-main justify-flex-end z-index-10"
  >
    <div class="div-nav">
      <div class="d-flex align-self-center">
        <% if(!user) { %>
        <div
          class="justify-content-flex-end"
        >
          <a href="/login" class="font-20-lg">
            Ingresar <i class="fas fa-sign-in-alt color-primary padding-3"></i>
          </a>
        </div>
        <% } %> <% if(user) { %>
        <div class="flex-end">
          <div class="">
            <h1
              class="color-primary font-arimo font-size-14 margin-5 font-20-lg"
            >
              <%= user ? user.firstName : "" %>
            </h1>
          </div>
          <a
            href="/profile/<%=user.id%> "
            class="color-primary font-arimo font-size-14 margin-5"
            ><i class="fas fa-user-alt color-primary padding-3"></i
          ></a>
          <% } %> <% if(user) { %>
          <form action="/logout" method="POST">
            <button
              type="submit"
              class="no-border center-text font-jura font-size-14 color-primary padding-5-3 background-main"
            >
              <i class="fas fa-power-off color-primary"></i>
            </button>
          </form>
        </div>
        <% } %>
      </div>
      <a href="/cart" class="padding-5-3">
        <i class="fas fa-shopping-cart color-primary"></i
      ></a>
    </div>
  </nav>
  <div class=" width-100 ">
    <a href="/">
      <div align="center">
        <img
          src="/images/main/logoCala1.png"
          class="logo image-header width-15-lg margin-top-31"
          alt="Logo Cala"
        />
      </div>
    </a>

    <div class="d-flex d-flex-revert-md" id="justify">
      <div
        class="padding-7 order-2 d-flex justify-content-flex-end justify-cont-md width-75 width-100-md"
      >
        <form class="width-75-md" action="/search" method="GET">
          <div
            id="search-div"
            class="search-container radius-5 d-flex no-border border-search-md background-main width-100-md"
          >
            <input
              id="search-input"
              name="searchquery"
              class="font-20-lg no-border hidden show outline"
              type="search"
              placeholder="Busca tus productos"
            />
            <button
              id="search-button"
              class="no-border width-10 font-20-lg outline"
              type="submit"
            >
              <i class="fas fa-search color-primary"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="flex-column align-self-center">
        <button
          id="bar-button"
          class="baseline outline no-border font-weight-bold background-main padding-7 color-primary hidden-md"
        >
          <i class="fas fa-bars color-primary hidden-md"></i> Menu
        </button>
        <nav id="id-nav" class="hidden show">
          <ul
            id="ul-nav-bar"
            class="header-menus flex-wrap color-primary font-arimo padding-left-6"
          >
            <li class="li-menu li-menu-md">
              <a class="nav-bar hidden show color-primary font-20-lg" id="" href="/"
                >Inicio</a
              >
            </li>
            <li class="li-menu li-menu-md">
              <a
                class="nav-bar hidden show color-primary font-20-lg"
                id=""
                href="/products"
                >Productos</a
              >
            </li>
            <%if(user){ %> <% if(user.categoryId==2) { %>
            <li class="li-menu li-menu-md">
              <a
                class="nav-bar hidden show color-primary font-20-lg"
                id=""
                href="/products/create"
                >Crear Producto</a
              >
            </li>
            <%}%> <%}%>
            <li class="li-menu li-menu-md">
              <a class="nav-bar hidden show color-primary font-20-lg" id="" href="/about"
                >Sobre Nosotras</a
              >
            </li>
            <li class="li-menu li-menu-md">
              <a class="nav-bar hidden show color-primary font-20-lg" id="" href="/contact"
                >Contacto</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
