<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base",{title:"Crear producto"}) %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/validation.css" />
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="/js/validation-products-validator.js"></script>
    <!-- <script src="/js/validation-products.js"></script> -->
  </head>

  <body class="background-main">
    <%-include("../partials/header") %>
    <!--Consultar como se hace el captcha-->
    <main class="background-main main-form-container flex-column wrap forms-lg ">
      <section class="form-container center-text radius-5 width-auto background-image-10">
        <h3 class="margin-10 font-arimo font-size-25lg">
          Estás creando un producto
        </h3>
        <% if(typeof errors != "undefined") { %>
          <ul>
            <% for (let i = 0; i < errors.length; i ++) { %>
            <li><%= errors[i].msg %></li>
            <% } %>
          </ul>
          <% } %>
        <form action="/products" method="POST" enctype="multipart/form-data" id="createForm">
          <p class="font-jura font-size-medium flex-column font-size-20lg">
            <label for="name" class="font-weight-bold margin-5"
              >Nombre del producto:</label
            >
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Ej: crema hidratante"
              class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate background-main"
            />
          </p>
          <div id="nameFeedback" class="feedback"></div>
          <p class="font-jura font-size-medium flex-column font-size-20lg">
            <label for="price" class="font-weight-bold margin-5"
              >Precio del producto:</label
            >
            <input
              type="number"
              id="price"
              name="price"
              placeholder="Ej: 5678"
              class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate background-main"
            />
          </p>
           <div id="priceFeedback" class="feedback"></div>
          <p class="font-jura font-size-medium flex-column font-size-20lg">
            <label for="discount" class="font-weight-bold margin-5"
              >Descuento:</label
            >
            <input
              type="text"
              id="discount"
              name="discount"
              placeholder="Ej: 15"
              class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate background-main"
            />
          </p>
           <div id="discountFeedback" class="feedback"></div>
          <p class="font-jura font-size-medium flex-column font-size-20lg">
            <label for="category" class="font-weight-bold margin-5"
              >Categoría:</label
            >
            <select name="category" id="category" class="no-border radius-5
            center-text font-bellefair font-size-20lg margin-5 height-5-vh width-75 align-self-center validate background-main">
            <option value="">Elegí</option>
            <option value='1'>Cabello</option>
            <option value='2'>Cuerpo</option>
            <option value='3'>Rostro</option>
            <option value='4'>Manos</option>
            <option value='5'>Kits</option>
            <option value='6'>Higiene</option>
            <option value='7'>Pies</option>
            <option value='8'>Accesorios</option>
           
            </select>
          </p>

          <div id="categoryFeedback" class="feedback"></div>
          <p class="font-jura font-size-medium flex-column font-size-20lg">
            <label for="description" class="font-weight-bold margin-5">
              Descripción:
            </label>
            <textarea
              name="description"
              id="description"
              class="form-input margin-5 width-75 align-self-center validate background-main"
            ></textarea>
          </p>
          <div id="descriptionFeedback" class="feedback"></div>

          <p class="font-jura font-size-medium flex-column font-size-20lg">
            <label for="color" class="font-weight-bold margin-5"
              >Color del producto:</label
            >
            <input
              type="text"
              id="color"
              name="color"
              placeholder="Ej: celeste"
              class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate background-main"
            />
          </p>
          <div id="colorFeedback" class="feedback"></div>
          <p class="font-jura font-size-medium font-weight-bold margin-5">Imagen </p>
			    <input type="file" name="image" id="image" class="validate background-main">
          <div id="imageFeedback" class="feedback"></div>
          <button
            type="submit"
            class="width-button center-text font-jura font-size-medium font-size-20lg margin-5"
          >Crear
          </button>
        </form>
      </section>
    </main>

    <%-include("../partials/footer") %>
  </body>
</html>
