<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base",{title:"Cala Home"}) %>
  </head>

  <body class="background-main">
    <%-include("../partials/header") %>
    <!--mantengo el estilo de section para los menu-->
    <main>
      <section class="flex-wrap width-100">
        <img
          src="images/products/img2.jpg"
          alt="Cosmetica Natural"
          class="width-100 hide-lg banner-index margin-b30"
        />
        <section>
          
      <!--<section>
        <h3>Productos</h3>
       <ul> 
          <li><a href="#">Shampoo Sólido</a></li>
          <li><a href="#">Acondicionador Sólido</a></li>
          <li><a href="#">Pasta Dental</a></li>
          <li><a href="#">Jabones</a></li>
          <li><a href="#">Otros Productos</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#">Kits y Promociones</a></li>
        </ul>
      </section>-->

      <section>
        <div class="d-flex-lg width-100-lg index-products">
          <% for (let i = 0; i < products.length; i++) { %> 
           <%-include('../products/product-card',
          {product:products[i]}) %> <% } %>
        </div>
      </section>
    </main>

    <%-include("../partials/footer") %>
  </body>
</html>
